main 
    .container
        .petition-outer
            .img-wrapper
                img(src="img/petit.jpg").img-responsive
            .petition-wrapper
                button.petition-button Читать обращение транспортников к президенту России
                p Действующие и бывшие сотрудники транспортной отрасли написали письмо Путину, в котором описывают ситуацию с троллейбусами и детально объясняют, как мэрия убивает этот вид транспорта в Москве. Под письмом подписались как ветераны отрасли и бывшие руководители, так и нынешние сотрудники, в том числе множество водителей троллейбусов.